:root {
  --background: #fcfcfc;
  --background-tone: #f6f6f6;
  --black: #000;
  --colour-pro: #859900;
  --colour-pro-44: #dee4bb;
  --colour-pro-aa: #85990088;
  --colour-con: #dc322f;
  --colour-con-44: #f6c8c7;
  --colour-con-aa: #dc322f88;
  --sans-serif-stack: "IBM Plex Sans", sans-serif;
  --serif-stack: "IBM Plex Serif", serif;
  --mono-stack: "IBM Plex Mono", monospace;
  --p: 20px;
  --h: calc(var(--p) / 2);
  --q: calc(var(--p) / 4);
}

html {
  font-family: var(--sans-serif-stack);
  background-color: var(--background);
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  align-items: center;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 10px;
}

.hide {
  display: none !important;
}

main {
  margin: calc(6*var(--p)) auto;
  width: fit-content;
  min-width: 100%;
}
main .node {
  display: grid;
  grid-template-columns: auto 0 600px auto 1fr;
  grid-template-rows: auto;
  margin-top: -1px;
  opacity: 1;
  transition: opacity 0.1s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
main .node.transparent .textarea, main .node.transparent .handle, main .node.transparent .padding, main .node.transparent .controls {
  opacity: 0;
}
main .node.transparent .caret .dot {
  opacity: 0;
}
main .node:hover {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
main .node.type-claim .textarea {
  font-weight: 500;
}
main .node.selected {
  background-color: #141414;
  color: #f6f6f6;
}
main .node .handle {
  cursor: grab;
  min-width: 60px;
}
main .node .handle:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dddddd' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
main .node .caret {
  padding: var(--p);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  text-align: right;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
  position: relative;
}
main .node .caret .connectors {
  position: absolute;
  right: 0;
  z-index: 0;
  background-color: #fedb4a44;
  transition: width 0.1s;
}
main .node .caret .connectors.up {
  top: 0;
  height: calc(50%);
}
main .node .caret .connectors.down {
  top: calc(50%);
  height: calc(50% + 1px);
}
main .node .caret:hover {
  background-color: var(--background-tone);
}
main .node .caret.inactive:hover {
  background-color: transparent;
  cursor: default;
}
main .node .caret.inactive svg {
  opacity: 0;
}
main .node .caret .dot {
  box-sizing: border-box;
  display: grid;
  padding-left: 8px;
  padding-top: 2px;
  border-radius: var(--h);
  width: var(--p);
  height: var(--p);
  z-index: 50;
  -webkit-transition: transform 0.25s;
  transition: transform 0.25s;
}
main .node .caret .dot.open {
  transform: rotate(90deg);
}
main .node .caret .dot.type-pro {
  background-color: var(--colour-pro-44);
  color: var(--colour-pro-aa);
}
main .node .caret .dot.type-con {
  background-color: var(--colour-con-44);
  color: var(--colour-con-aa);
}
main .node .caret .dot.type-claim {
  background-color: transparent;
  color: #bfbfbf;
}
main .node .caret:hover .dot.type-pro {
  color: var(--colour-pro);
}
main .node .caret:hover .dot.type-con {
  color: var(--colour-con);
}
main .node .caret:hover .dot.type-claim {
  color: black;
}
main .node .padding {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  visibility: hidden;
}
main .node .padding .curtain {
  display: block;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
main .node .padding > button {
  display: flex;
  padding: var(--p);
  border: 0;
  background-color: transparent;
  align-self: stretch;
  cursor: pointer;
  color: #bcbcbc;
  align-items: center;
  font-size: 1rem;
}
main .node .padding > button:focus {
  outline: none;
}
main .node .padding > button:hover {
  color: black;
  background-color: var(--background-tone);
}
main .node .padding .menu {
  display: flex;
  position: absolute;
  top: var(--p);
  left: var(--p);
  flex-direction: column;
  visibility: visible;
  z-index: 350;
  border-radius: var(--q);
}
main .node .padding .menu button {
  border: none;
  text-align: left;
  padding: var(--h);
  font-family: var(sans-serif-stack);
  cursor: pointer;
  background-color: var(--black);
  color: var(--background);
  overflow: visible;
  box-shadow: 0 0 5px #00000088;
  text-align: center;
}
main .node .padding .menu button:first-of-type {
  border-radius: var(--q) var(--q) 0 0;
}
main .node .padding .menu button:last-of-type {
  border-radius: 0 0 var(--q) var(--q);
}
main .node .padding .menu button:focus {
  outline: none;
}
main .node .padding .menu button:hover {
  background-color: #000000cc;
}
main .node .padding .menu button:before {
  content: attr(data-action);
  display: none;
  position: absolute;
  left: 0;
  margin-left: 100%;
  margin-top: calc(-1 * var(--h));
  padding: var(--h);
  border-radius: 0 var(--q) var(--q) 0;
  text-align: left;
  color: var(--black);
  backdrop-filter: blur(2px);
  white-space: nowrap;
  z-index: 349;
}
main .node .padding .menu button:hover:before {
  display: block;
}
main .node:hover .padding {
  visibility: visible;
}
main .node:hover .controls .inbetween {
  visibility: visible;
}
main .node .textarea {
  padding: var(--p);
}
main .node .textarea:focus {
  outline: none;
  background-color: #efefef;
}
main .node .textarea:focus:hover {
  background-color: #efefef;
}
main .node .textarea:hover {
  background-color: var(--background-tone);
}
main .node .controls {
  position: relative;
}
main .node .controls .inbetween {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  margin-left: -10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid #cdcdcd;
  width: 20px;
  height: 20px;
  max-width: 500px;
  font-size: 0.8rem;
  z-index: 200;
  visibility: hidden;
  color: #cdcdcd;
  border-radius: var(--q);
  text-align: center;
}
main .node .controls .inbetween:hover {
  background-color: var(--background-tone);
  color: black;
}
main .node .controls .inbetween.above {
  top: 0;
  margin-top: -10px;
}
main .node .controls .inbetween.below {
  bottom: 0;
  margin-bottom: -11px;
}
main .node .controls .inbetween.indented {
  bottom: 0;
  margin-bottom: -11px;
  left: calc(3 * var(--p));
}
main .node .controls:hover .inbetween {
  visibility: visible;
}
main .node.sortable-chosen {
  opacity: 1;
}
main .node.sortable-chosen .caret,
main .node.sortable-chosen .controls .inbetween,
main .node.sortable-chosen .padding {
  visibility: hidden;
}
main .node.sortable-ghost {
  opacity: 0;
}

.toolbar {
  position: fixed;
  top: var(--p);
  right: var(--p);
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: var(--q);
}
.toolbar button {
  background-color: var(--black);
  /*background-color: transparent;*/
  color: var(--background);
  border: none;
  padding: var(--h);
}
.toolbar button:first-of-type {
  border-radius: var(--q) var(--q) 0 0;
}
.toolbar button:last-of-type {
  border-radius: 0 0 var(--q) var(--q);
}
.toolbar button:hover {
  cursor: pointer;
  background-color: #000000cc;
  /*color: var(--black);*/
}
.toolbar button:focus {
  outline: none;
}
.toolbar button:before {
  content: attr(data-action);
  display: none;
  position: absolute;
  right: 0;
  margin-right: 100%;
  margin-top: calc(-1 * var(--h));
  padding: var(--h);
  border-radius: var(--q) 0 0 var(--q);
  text-align: right;
  color: var(--black);
  background-color: #fcfcfcaa;
  backdrop-filter: blur(2px);
  white-space: nowrap;
}
.toolbar button:hover:before {
  display: block;
}

/*# sourceMappingURL=main.css.map */
