
:root {

	--background: #fcfcfc;
	--background-tone: #f6f6f6;
	--black: #000;

	--colour-pro: #859900;
	--colour-pro-44: #dee4bb;
	--colour-pro-aa: #85990088;
	--colour-con: #dc322f;
	--colour-con-44: #f6c8c7;
	--colour-con-aa: #dc322f88;

	--sans-serif-stack: 'IBM Plex Sans', sans-serif;
	--serif-stack: 'IBM Plex Serif', serif;
	--mono-stack: 'IBM Plex Mono', monospace;

	--p: 20px;
	--h: calc(var(--p) / 2);
	--q: calc(var(--p) / 4);
}

html {
	font-family: var(--sans-serif-stack);
	background-color: var(--background);

	height: 100%;
}

body {
	margin: 0;
	display: flex;
	padding: 0;
	scroll-behavior: smooth;
	
	min-height: 100%;
	align-items: center;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	  	border-radius: 10px;
	  	margin: 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #dedede;
		border-radius: 10px;
	}

}

.hide {
	display: none !important;
}

main {
	margin: calc(6*var(--p)) auto;
	
	width: fit-content;
	min-width: 100%;
	// border: 3px solid green;
	
	.node {
		display: grid;
		grid-template-columns: auto 0 600px auto 1fr;
		grid-template-rows: auto;
		margin-top: -1px;
		opacity: 1;
		transition: opacity .1s;

		// border: 1px solid blue;
		// padding: var(--p);

		&.transparent {

			.textarea, .handle, .padding, .controls {
				opacity: 0;
			}

			.caret {
				.dot {
					opacity: 0;
				}
			}

			// .connectors {
			// 	opacity: 1 !important;
			// }
		}

		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		// transition: border-color .1s;

		&:hover {
			border-top: 1px solid #cdcdcd;
			border-bottom: 1px solid #cdcdcd;
		}
		
		&.type-claim .textarea {
			font-weight: 500;
		}
		
		&.selected {
			background-color: #141414;
			color: #f6f6f6;
		}

		.handle {
			cursor: grab;
			min-width: 60px;
			// margin-left: var(--p);
			// width: var(--p);

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dddddd' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
			}
		}

		.caret {
			padding: var(--p);
			box-sizing: border-box;
			
			display: flex;
			align-items: center;
			justify-content: flex-end;

			cursor: pointer;
			text-align: right;
			
			-webkit-transition: width .1s;
			transition: width .1s;

			position: relative;

			.connectors {
				position: absolute;
				right: 0;
				z-index: 0;
				background-color: #fedb4a44;
				transition: width .1s;

				&.up {
					top: 0;
					height: calc(50%);
				}

				&.down {
					top: calc(50%);
					height: calc(50% + 1px);
				}
			}

			.connectors.up {
				
			}


			&:hover {
				background-color: var(--background-tone);
			}

			&.inactive:hover {
				background-color: transparent;
				cursor: default;
			}

			&.inactive svg {
				opacity: 0;
			}

			.dot {
				box-sizing: border-box;
				display: grid;
				padding-left: 8px;
				padding-top: 2px;
				border-radius: var(--h);
				width: var(--p);
				height: var(--p);
				z-index: 50;

				-webkit-transition: transform .25s;
				transition: transform .25s;

				&.open {
					transform: rotate(90deg);
				}

				&.type-pro {
					background-color: var(--colour-pro-44);
					color: var(--colour-pro-aa);
				}
				&.type-con {
					background-color: var(--colour-con-44);
					color: var(--colour-con-aa);
				}
				&.type-claim {
					background-color: transparent;
					color: #bfbfbf;
				}
			}

			&:hover {
				.dot {
					&.type-pro {
						color: var(--colour-pro);
					}
					&.type-con {
						color: var(--colour-con);
					}
					&.type-claim {
						color: black;
					}
				}
			}



		}
		

		
		.padding {
			box-sizing: border-box;
			position: relative;
			
			display: flex;
			align-items: center;
			justify-content: flex-start;

			visibility: hidden;

			.curtain {
				display: block;
				position: fixed;
				z-index: 300;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				background-color: transparent;
			}

			& > button {
				display: flex;
				padding: var(--p);
				border: 0;
				background-color: transparent;
				align-self: stretch;
				cursor: pointer;
				color: #bcbcbc;

				align-items: center;

				font-size: 1rem;

				&:focus {
					outline: none;
				}

				&:hover {
					color: black;
					background-color: var(--background-tone);
				}
			}

			.menu {
				display: flex;
				position: absolute;
				top: var(--p);
				left: var(--p);
				flex-direction: column;
				visibility: visible;
				z-index: 350;
				border-radius: var(--q);
				// overflow: hidden;

				button {
					border: none;
					text-align: left;
					padding: var(--h);
					font-family: var(sans-serif-stack);
					cursor: pointer;
					background-color: var(--black);
					color: var(--background);
					overflow: visible;

					box-shadow: 0 0 5px #00000088;
					text-align: center;

					&:first-of-type {
						border-radius: var(--q) var(--q) 0 0;
					}
					&:last-of-type {
						border-radius: 0 0 var(--q) var(--q);
					}

					&:focus {
						outline: none;
					}

					&:hover {
						// text-decoration: underline;
						background-color: #000000cc;
					}

					&:before {
						content: attr(data-action);
						
						display: none;
						position: absolute;
						left: 0;
						margin-left: 100%;
						margin-top: calc(-1 * var(--h));
						padding: var(--h);
						border-radius: 0 var(--q) var(--q) 0;
						
						text-align: left;
						color: var(--black);

						// background-color: #fcfcfcaa;
						backdrop-filter: blur(2px);
						white-space: nowrap;

						z-index: 349;
					}
					
					&:hover:before {
						display: block;
					}
				}
			}
		}

		&:hover {

			.padding {
				visibility: visible;
			}

			.controls .inbetween {
				visibility: visible;
			}
		}

		.textarea {
			padding: var(--p);
			// z-index: 100;

			&:focus {
				outline: none;
				background-color: #efefef;

				&:hover {
					background-color: #efefef;
				}
			}

			&:hover {
				background-color: var(--background-tone);
			}

		}

		.controls {
			position: relative;

			.inbetween {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: 0;
				margin-left: -10px;
				
				box-sizing: border-box;
				cursor: pointer;

				background-color: var(--background);
				border: 1px solid #cdcdcd;
				width: 20px;
				height: 20px;
				max-width: 500px;
				font-size: .8rem;

				z-index: 200;
				visibility: hidden;

				color: #cdcdcd;

				border-radius: var(--q);
				text-align: center;

				&:hover {
					background-color: var(--background-tone);
					color: black;
				}

				&.above {
					top: 0;
					margin-top: -10px;
				}

				&.below {
					bottom: 0;
					margin-bottom: -11px;
				}

				&.indented {
					bottom: 0;
					margin-bottom: -11px;
					left: calc(3 * var(--p));
				}
			}

			&:hover {
				.inbetween {
					visibility: visible;
				}
			}

		}


		&.sortable-chosen {
			// border: none;
			opacity: 1;
			// background-color: #000;

			.caret,
			.controls .inbetween,
			.padding {
				visibility: hidden;
			}

		}

		&.sortable-ghost {
			opacity: 0;
		}
	}
}

.toolbar {
	position: fixed;
	top: var(--p);
	// top: 50vh;
	// transform: translateY(-50%);
	right: var(--p);

	z-index: 100;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	border-radius: var(--q);
	
	button {
		background-color: var(--black);
		/*background-color: transparent;*/
		color: var(--background);
		border: none;
		padding: var(--h);
		
		&:first-of-type {
			border-radius: var(--q) var(--q) 0 0;
		}
		&:last-of-type {
			border-radius: 0 0 var(--q) var(--q);
		}

		&:hover {
			cursor: pointer;
			background-color: #000000cc;
			/*color: var(--black);*/
		}

		&:focus {
			outline: none;
		}
		
		&:before {
			content: attr(data-action);
			
			display: none;
			position: absolute;
			right: 0;
			margin-right: 100%;
			margin-top: calc(-1 * var(--h));
			padding: var(--h);
			border-radius: var(--q) 0 0 var(--q);
			
			text-align: right;
			color: var(--black);

			background-color: #fcfcfcaa;
			backdrop-filter: blur(2px);
			white-space: nowrap;
		}
		
		&:hover:before {
			display: block;
		}
	}
}
