:root {
  --background: #fcfcfc;
  --background-tone: #f6f6f6;
  --black: #000;
  --colour-pro: #859900;
  --colour-pro-44: #dee4bb;
  --colour-pro-aa: #85990088;
  --colour-con: #dc322f;
  --colour-con-44: #f6c8c7;
  --colour-con-aa: #dc322f88;
  --sans-serif-stack: "IBM Plex Sans", sans-serif;
  --serif-stack: "IBM Plex Serif", serif;
  --mono-stack: "IBM Plex Mono", monospace;
  --p: 20px;
  --h: calc(var(--p) / 2);
  --q: calc(var(--p) / 4);
}

html {
  font-family: var(--sans-serif-stack);
  background-color: var(--background);
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  align-items: center;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 10px;
}

.hide {
  display: none !important;
}

*:focus {
  outline: none;
}

main {
  margin: calc(6*var(--p)) auto;
  width: fit-content;
  min-width: 100%;
}
main .node {
  display: grid;
  grid-template-columns: auto 0 600px auto 1fr;
  grid-template-rows: auto;
  margin-top: -1px;
  opacity: 1;
  transition: opacity 0.1s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
main .node.transparent .textarea, main .node.transparent .handle, main .node.transparent .padding, main .node.transparent .controls {
  opacity: 0;
}
main .node.transparent .caret .dot {
  opacity: 0;
}
main .node:hover {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
main .node.type-claim .textarea {
  font-weight: 500;
}
main .node.selected {
  background-color: #141414;
  color: #f6f6f6;
}
main .node .handle {
  cursor: grab;
  min-width: 60px;
}
main .node .handle:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dddddd' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
main .node .caret {
  padding: var(--p);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  text-align: right;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
  position: relative;
}
main .node .caret .connectors {
  position: absolute;
  right: 0;
  z-index: 0;
  background-color: #fedb4a44;
  transition: width 0.1s;
}
main .node .caret .connectors.up {
  top: 0;
  height: calc(50%);
}
main .node .caret .connectors.down {
  top: calc(50%);
  height: calc(50% + 1px);
}
main .node .caret:hover {
  background-color: var(--background-tone);
}
main .node .caret.inactive:hover {
  background-color: transparent;
  cursor: default;
}
main .node .caret.inactive svg {
  opacity: 0;
}
main .node .caret .dot {
  box-sizing: border-box;
  display: grid;
  padding-left: 8px;
  padding-top: 2px;
  border-radius: var(--h);
  width: var(--p);
  height: var(--p);
  z-index: 50;
  -webkit-transition: transform 0.25s;
  transition: transform 0.25s;
}
main .node .caret .dot.open {
  transform: rotate(90deg);
}
main .node .caret .dot.type-pro {
  background-color: var(--colour-pro-44);
  color: var(--colour-pro-aa);
}
main .node .caret .dot.type-con {
  background-color: var(--colour-con-44);
  color: var(--colour-con-aa);
}
main .node .caret .dot.type-claim {
  background-color: transparent;
  color: #bfbfbf;
}
main .node .caret:hover .dot.type-pro {
  color: var(--colour-pro);
}
main .node .caret:hover .dot.type-con {
  color: var(--colour-con);
}
main .node .caret:hover .dot.type-claim {
  color: black;
}
main .node .padding {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  visibility: hidden;
}
main .node .padding .curtain {
  display: block;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
main .node .padding > button {
  display: flex;
  padding: var(--p);
  border: 0;
  background-color: transparent;
  align-self: stretch;
  cursor: pointer;
  color: #bcbcbc;
  align-items: center;
  font-size: 1rem;
}
main .node .padding > button:focus {
  outline: none;
}
main .node .padding > button:hover {
  color: black;
  background-color: var(--background-tone);
}
main .node .padding .menu {
  display: flex;
  position: absolute;
  top: var(--p);
  left: var(--p);
  flex-direction: column;
  visibility: visible;
  z-index: 350;
  border-radius: var(--q);
}
main .node .padding .menu button {
  border: none;
  text-align: left;
  padding: var(--h);
  font-family: var(sans-serif-stack);
  cursor: pointer;
  background-color: var(--black);
  color: var(--background);
  overflow: visible;
  box-shadow: 0 0 5px #00000088;
  text-align: center;
}
main .node .padding .menu button:first-of-type {
  border-radius: var(--q) var(--q) 0 0;
}
main .node .padding .menu button:last-of-type {
  border-radius: 0 0 var(--q) var(--q);
}
main .node .padding .menu button:focus {
  outline: none;
}
main .node .padding .menu button:hover {
  background-color: #000000cc;
}
main .node .padding .menu button:before {
  content: attr(data-action);
  display: none;
  position: absolute;
  left: 0;
  margin-left: 100%;
  margin-top: calc(-1 * var(--h));
  padding: var(--h);
  border-radius: 0 var(--q) var(--q) 0;
  text-align: left;
  color: var(--black);
  backdrop-filter: blur(2px);
  white-space: nowrap;
  z-index: 349;
}
main .node .padding .menu button:hover:before {
  display: block;
}
main .node:hover .padding {
  visibility: visible;
}
main .node:hover .controls .inbetween {
  visibility: visible;
}
main .node .textarea {
  padding: var(--p);
}
main .node .textarea:focus {
  outline: none;
  background-color: #efefef;
}
main .node .textarea:focus:hover {
  background-color: #efefef;
}
main .node .textarea:hover {
  background-color: var(--background-tone);
}
main .node .controls {
  position: relative;
}
main .node .controls .inbetween {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  margin-left: -10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid #cdcdcd;
  width: 20px;
  height: 20px;
  max-width: 500px;
  font-size: 0.8rem;
  z-index: 200;
  visibility: hidden;
  color: #cdcdcd;
  border-radius: var(--q);
  text-align: center;
}
main .node .controls .inbetween:hover {
  background-color: var(--background-tone);
  color: black;
}
main .node .controls .inbetween.above {
  top: 0;
  margin-top: -10px;
}
main .node .controls .inbetween.below {
  bottom: 0;
  margin-bottom: -11px;
}
main .node .controls .inbetween.indented {
  bottom: 0;
  margin-bottom: -11px;
  left: calc(3 * var(--p));
}
main .node .controls:hover .inbetween {
  visibility: visible;
}
main .node.suggestion {
  font-weight: 300;
}
main .node.suggestion .caret, main .node.suggestion .textarea, main .node.suggestion .padding, main .node.suggestion .handle {
  background-color: #fff;
}
main .node.suggestion .padding {
  visibility: visible;
}
main .node.suggestion .textarea:focus {
  background-color: var(--background-tone);
}
main .node.suggestion .textarea:focus:hover {
  background-color: var(--background-tone);
}
main .node.suggestion .textarea:hover {
  background-color: var(--background-tone);
}
main .node.sortable-chosen {
  opacity: 1;
}
main .node.sortable-chosen .caret,
main .node.sortable-chosen .controls .inbetween,
main .node.sortable-chosen .padding {
  visibility: hidden;
}
main .node.sortable-ghost {
  opacity: 0;
}

.toolbar {
  position: fixed;
  top: var(--p);
  right: var(--p);
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: var(--q);
}
.toolbar .group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 1px;
}
.toolbar .group:first-of-type button:first-child {
  border-radius: var(--q) var(--q) 0 0;
}
.toolbar .group:last-of-type button:last-child {
  border-radius: 0 0 var(--q) var(--q);
}
.toolbar .group button {
  background-color: var(--black);
  /*background-color: transparent;*/
  color: var(--background);
  border: none;
  padding: var(--h);
}
.toolbar .group button:hover {
  cursor: pointer;
  background-color: #000000cc;
  /*color: var(--black);*/
}
.toolbar .group button:focus {
  outline: none;
}
.toolbar .group button:before {
  content: attr(data-action);
  display: none;
  position: absolute;
  right: 0;
  margin-right: 100%;
  margin-top: calc(-1 * var(--h));
  padding: var(--h);
  border-radius: var(--q) 0 0 var(--q);
  text-align: right;
  color: var(--black);
  background-color: #fcfcfcaa;
  backdrop-filter: blur(2px);
  white-space: nowrap;
}
.toolbar .group button:hover:before {
  display: block;
}

.loader {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  height: 3px;
  z-index: 90;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 100%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hint {
  position: fixed;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: var(--p);
  top: 0;
  z-index: 80;
  background-color: #fcfcfcaa;
  backdrop-filter: blur(2px);
  font-size: 0.8rem;
  text-align: center;
}
.hint .key {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  font-family: monospace;
  font-size: 1rem;
}

.modal-box {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: var(--h);
  background-color: #ffffff22;
  backdrop-filter: blur(8px);
  z-index: 1000;
}
.modal-box .modal {
  width: 450px;
}
.modal-box .modal .shortcuts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: var(--p);
  grid-row-gap: var(--h);
  align-items: center;
  justify-content: start;
  margin: 0 auto var(--p) auto;
}
.modal-box .modal .shortcuts .key {
  display: block;
  justify-self: end;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  font-family: monospace;
}
.modal-box .modal .sample {
  padding-left: 30px;
}
.modal-box .modal .sample button {
  font-size: 1rem;
  display: inline;
  border: 0;
  background-color: transparent;
  padding: 0 !important;
  cursor: pointer;
  font-weight: 300;
  color: blue;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ff000044;
}
.modal-box .modal .sample button:hover {
  text-decoration-color: #ff0000;
}
.modal-box .modal .sample button:focus {
  outline: none;
}
.modal-box .modal select {
  display: block;
  width: 100%;
  padding: var(--q);
}
.modal-box .modal select:focus {
  outline: none;
}
.modal-box .modal select option:hover {
  outline: none;
  border: none;
}
.modal-box .modal .key input[type=password] {
  width: calc(100% - 2 * var(--q));
  border: none;
  padding: var(--q);
  margin-bottom: var(--q);
}
.modal-box .modal .key input[type=password].correct {
  background-color: var(--colour-pro-44);
}
.modal-box .modal .key input[type=password].incorrect {
  background-color: var(--colour-con-44);
}
.modal-box .modal .key button {
  float: right;
}
.modal-box .modal .click-to-close {
  text-align: right;
  font-size: 0.8rem;
}

body[data-mode=generate-reasoning] {
  cursor: url("../img/cursors/route.svg") 0 0, pointer;
}
body[data-mode=generate-reasoning] main .node {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
body[data-mode=generate-reasoning] main .node:hover {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
body[data-mode=generate-reasoning] main .node .handle {
  cursor: inherit;
}
body[data-mode=generate-reasoning] main .node .handle:hover {
  background-image: none;
}
body[data-mode=generate-reasoning] main .node .caret {
  cursor: inherit;
}
body[data-mode=generate-reasoning] main .node .caret:hover {
  background-color: transparent;
}
body[data-mode=generate-reasoning] main .node .caret.inactive:hover {
  background-color: transparent;
  cursor: inherit;
}
body[data-mode=generate-reasoning] main .node .caret:hover .dot.type-pro {
  color: var(--colour-con-aa);
}
body[data-mode=generate-reasoning] main .node .caret:hover .dot.type-con {
  color: var(--colour-con-aa);
}
body[data-mode=generate-reasoning] main .node .caret:hover .dot.type-claim {
  color: #bfbfbf;
}
body[data-mode=generate-reasoning] main .node .padding > button {
  visibility: hidden;
}
body[data-mode=generate-reasoning] main .node:hover .padding {
  visibility: hidden;
}
body[data-mode=generate-reasoning] main .node:hover .controls .inbetween {
  visibility: hidden;
}
body[data-mode=generate-reasoning] main .node .textarea:focus {
  background-color: transparent;
}
body[data-mode=generate-reasoning] main .node .textarea:focus:hover {
  background-color: transparent;
}
body[data-mode=generate-reasoning] main .node .textarea:hover {
  background-color: transparent;
}
body[data-mode=generate-reasoning] main .node .controls .inbetween {
  cursor: inherit;
}
body[data-mode=generate-reasoning] main .node .controls:hover .inbetween {
  visibility: hidden;
}
body[data-mode=generate-reasoning] main .node:hover {
  background-color: var(--background-tone);
}

body[data-mode=complete-enthymeme] {
  cursor: url("../img/cursors/comment-slash.svg") 0 0, pointer;
}
body[data-mode=complete-enthymeme] main .node {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
body[data-mode=complete-enthymeme] main .node:hover {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
body[data-mode=complete-enthymeme] main .node .handle {
  cursor: inherit;
}
body[data-mode=complete-enthymeme] main .node .handle:hover {
  background-image: none;
}
body[data-mode=complete-enthymeme] main .node .caret {
  cursor: inherit;
}
body[data-mode=complete-enthymeme] main .node .caret:hover {
  background-color: transparent;
}
body[data-mode=complete-enthymeme] main .node .caret.inactive:hover {
  background-color: transparent;
  cursor: inherit;
}
body[data-mode=complete-enthymeme] main .node .caret:hover .dot.type-pro {
  color: var(--colour-con-aa);
}
body[data-mode=complete-enthymeme] main .node .caret:hover .dot.type-con {
  color: var(--colour-con-aa);
}
body[data-mode=complete-enthymeme] main .node .caret:hover .dot.type-claim {
  color: #bfbfbf;
}
body[data-mode=complete-enthymeme] main .node .padding > button {
  visibility: hidden;
}
body[data-mode=complete-enthymeme] main .node:hover .padding {
  visibility: hidden;
}
body[data-mode=complete-enthymeme] main .node:hover .controls .inbetween {
  visibility: hidden;
}
body[data-mode=complete-enthymeme] main .node .textarea:focus {
  background-color: transparent;
}
body[data-mode=complete-enthymeme] main .node .textarea:focus:hover {
  background-color: transparent;
}
body[data-mode=complete-enthymeme] main .node .textarea:hover {
  background-color: transparent;
}
body[data-mode=complete-enthymeme] main .node .controls .inbetween {
  cursor: inherit;
}
body[data-mode=complete-enthymeme] main .node .controls:hover .inbetween {
  visibility: hidden;
}
body[data-mode=complete-enthymeme] main .node:hover {
  background-color: var(--background-tone);
}

/*# sourceMappingURL=main.css.map */
